{% extends 'base.html' %}
<title>{% block title %}Mars{% endblock %}</title>

{% block content %}
<div class="box-mars">
    <div class="mars-img">
        <img src="/static/mars/mar.png" alt="">
    </div>
    <div class="mars-content">
        <div class="about-mars">
            <h2>Mars</h2>
            <p>​Mars is the fourth planet from the Sun – a dusty, cold, 
                desert world with a very thin atmosphere. Mars is also a 
                dynamic planet with seasons, polar ice caps, canyons, 
                extinct volcanoes, and evidence that it was even more 
                active in the past.
            </p>
            <p>Mars is one of the most explored bodies in our solar system, 
                and it's the only planet where we've sent rovers to roam 
                the alien landscape. Two NASA rovers and one lander are 
                currently exploring the surface of Mars (and a Chinese 
                lander is set to land later this year). An international 
                fleet of eight orbiters are studying the Red Planet from 
                above.
            </p>
        </div>
        <div class="api-mars">
            <div class="api"><h4>First_UTC:</h4> <p> {{ mars.first_UTC }}</p></div>
            <div class="api"><h4>Last_UTC:</h4> <p> {{ mars.last_UTC }}</p></div>
            <div class="api"><h4>Month_ordianl:</h4> <p>{{ mars.month_ordinal }}</p></div>
            <div class="api"><h4>Northern_season:</h4> <p> {{mars.northern_season}}</p></div>
            <div class="api"><h4>Season:</h4> <p> {{mars.season}}</p></div>
            <div class="api"><h4>Southern_season:</h4> <p>{{mars.southern_season}}</p></div>
        </div>
    </div>
    <div class="red-mars">
        <div class="img-mars">
            <img src="/static/mars/red-mars.PNG" alt="">
        </div>
        <div class="kid-mars">
            <h3>Kid-Friendly Mars</h3>
            <p>Mars is a cold desert world. It is half the size of Earth. Mars is sometimes called the Red Planet. It's red because of rusty iron in the ground.</p>
            <p>Like Earth, Mars has seasons, polar ice caps, volcanoes, canyons, and weather. It has a very thin atmosphere made of carbon dioxide, nitrogen, and argon.</p>
            <p>There are signs of ancient floods on Mars, but now water mostly exists in icy dirt and thin clouds. On some Martian hillsides, there is evidence of liquid salty water in the ground.</p>
            <p>Visit NASA SpacePlace for more kid-friendly facts.</p>
            <a href="https://mars.nasa.gov/#red_planet/0">NASA Space Place: All About Mars ›</a>
        </div>
    </div>
</div>
{% endblock %}
