*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #101114;
    /* background: #131419; */
    overflow: hidden;
    min-height: 100vh;

}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #101114;
}
.form{
    position: relative;
    width: 350px;
    padding: 40px 40px 60px;
    background: #101114;
    border-radius: 10px;
    text-align: center;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
                5px 5px 15px rgba(0, 0, 0, 0.5);
}
.form h2{
    color: #c7c7c7;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.form .input{
    text-align: center;
    margin-top: 40px;
}
.form .input .inputBox{
    margin-top: 20px;
}
.form .input .inputBox label{
    display: block;
    color: #868686;
    margin-bottom: 5px;
    font-size: 18px;
}
.form .input .inputBox input{
    width: 100%;
    height: 50%;
    background: #101114;
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 5px 15px;
    color: #ffffff;
    font-size: 18px;
    color: #03a9f4;
    box-shadow:inset -2px -2px 6px rgba(255, 255, 255, 0.1),
                    inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}
.form .input .inputBox input[type="submit"]{
    margin-top: 20px;
    box-shadow:-2px -2px 6px rgba(255, 255, 255, 0.1),
                2px 2px 6px rgba(0, 0, 0, 0.8);
}
.form .input .inputBox input[type="submit"]:active{
    margin-top: 20px;
    color: #006c92;
    box-shadow:inset -2px -2px 6px rgba(255, 255, 255, 0.1),
                inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}
.form .input .inputBox input::placeholder{
    color: #555;
    font-size: 18px;
}
.create{
    margin-top: 30px;
    color: #555;
}
.create a{
    color: #ff0074;
}

.show-daily{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}
.box{
    position: relative;
}
.box .content{
    width: 1000px;
    height: 600px;
    background: #000;
    transform: scaleX(0);
    transform-origin: left;
    animation: reveal 1s ease-in-out forwards;
}
.box .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1;
    animation: reveal 1s reverse forwards;
    animation-delay: 3s;
    transform-origin: right;
}
.box .content img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}
@keyframes reveal{
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }

}
.box .content h2{
    position: absolute;
    right: -80px;
    bottom: 40px;
    margin: 0;
    padding: 10px;
    background: #fff;
    z-index: 2;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    transform: scaleX(0);
    transform-origin: left;
    animation: reveal 1s ease-in-out forwards;
    animation-delay: 1s;
}
.box .content h2::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;
    animation: reveal 1s reverse forwards;
    animation-delay: 2s;
    transform-origin: right;
}
.navigation{
    position: fixed;
    width: 60px;
    height: 100%;
    background: #0b0c0e;
    transition: 0.5s;
    z-index: 999;
    overflow: hidden;
}
.navigation:hover,
.navigation.active{
    width: 200px;
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
}
.navigation ul li:hover{
    background: #ea1d63;
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.navigation ul li a .fa{
    font-size: 24px;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
}
.toggle{
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: #101114;
    cursor: pointer;
    z-index: 1000;
}
.toggle.active{
    background: #ea1d63;
}
.toggle::before{
    content: '\f0c9';
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    color: #fff;
}
.toggle.active::before{
    content: '\f00d';
}
@media (max-width:767px){
    .navigation{
        left: -60px;
    }
    .navigation.active{
        left: 0px;
        width: 100%;
    }
}
.alert{
    color: rgb(27, 27, 27);
    width: 50%;
    margin: 10px auto 0;
}
.error{
    background: rgb(255, 150, 150);
}
.success{
    background: rgb(156, 255, 165);
}
.cont{
    text-align: center;
    color: #fff;
    padding-top: 50px;
    margin-bottom: 100px;
    font-size: 56px;
    font-weight: 700;
}
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 100vw;
    min-height: 100vh; */
    background: #101114;
    font-family: 'Poppins', sans-serif;
}
.box-team{
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.box-team .team{
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    margin: 40px;
}
.box-team .team .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;
    z-index: 2;
}
.box-team .team:hover .imgBx{
    transform: translate(-35px,-35px);
}
.box-team .team .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box-team .team .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 15px;
    transition: 0.5s ease-in-out;
}
.box-team .team:hover .content{
    transform: translate(35px,35px);
}
.box-team .team .content h2{
    font-size: 20px;
    color: #111;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
}
.box-team .team .content h2 span{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}
@media(max-width:768px){
    .box-team .team:hover .content{
        transform: translate(0,35px);
    }
    .box-team .team:hover .imgBx{
        transform: translate(0,-35px);
    }

}
.action{
    position: fixed;
    top: 10px;
    right: 70px;
}
.action .user{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}
.action .user img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.action .menu{
    position: absolute;
    top: 120px;
    right: -10px;
    padding: 10px 20px;
    background: #fff;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}
.action .menu.act{
    top: 80px;
    visibility: visible;
    opacity: 1;
}
.action .menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
}
.action .menu h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    color: #555;
    line-height: 1.2em;
}
.action .menu h3 span{
    font-size: 14px;
    color: #cecece;
    font-weight: 400;
}
