{% if user.is_authenticated %}
<div class="footer-box">
    <footer>
        <div class="container">
            <div class="sec aboutus">
            <h2>About Website</h2>
            <p>Lorem, ipsum dolor sit 
                amet consectetur adipisicing 
                elit. Voluptatibus illum 
                laudantium temporibus 
                nesciunt repellat, natus 
                ipsa enim asperiores nulla 
                dolores!
            </p>
    
            <ul class="sci">
                <li><a href="https://github.com/ttxrps/flask-project"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
            </div>
            <div class="sec quickLinks">
            <h2>Quick Links</h2>
            <ul>
                <li><a href="">Home Page</a></li>
                <li><a href="">Neo Page</a></li>
                <li><a href="">Mars Page</a></li>
                <li><a href="">Earth Page</a></li>
                <li><a href="">Team Page</a></li>
            </ul>
            </div>
            <div class="sec contact">
            <h2>Member Info</h2>
            <ul class="info">
                <li>
                <span><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
                <span>Kannincha Kamjing<br>
                61102010135</span>
                </li>
                <li>
                <span><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
                <span>Pawarit Sripiboon<br>
                61102010151</span>
                </li>
                <li>
                <span><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
                <span>Pacharasiri Siriyom<br>
                61102010154</span>
                </li>
                </ul>
            </div>
        </div>
    </footer>
    <div class="copyrightText">
        <p>Copyright &copy; 2021 CP353 Web Technology</p>
    </div>
</div>


{% endif %}