{% if user.is_authenticated %}
<div class="navigation">
    <ul>
        <li>         
            <div class="action">
                <div class="user">
                    <img src="/static/{{ user.profile }}" >
                </div>
            </div> 
        </li>
        <li>
            <a href="/">
                <span class="icon"><i class="fa fa-home" aria-hidden="true"></i>
                </span>
                <span class="title">Home</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon"><i class="fa fa-grav" aria-hidden="true"></i>
                </span>
                <span class="title">Neo</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon"><i class="fa fa-search" aria-hidden="true"></i>
                </span>
                <span class="title">Search</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon"><i class="fa fa-globe" aria-hidden="true"></i>
                </span>                    
                <span class="title">Earth</span>
            </a>
        </li>
        <li>
            <a href="/team">
                <span class="icon"><i class="fa fa-users" aria-hidden="true"></i>
                </span>
                <span class="title">Team</span>
            </a>
        </li>
        <li>
            <a href="/logout">
                <span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i>
                </span>
                <span class="title">Logout</span>
            </a>
        </li>
    </ul>
</div>
<div class="toggle" onclick="toggleMenu()"></div>

{% endif %}
